/********************
  START OF MY CSS
********************/
body {
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  padding-top: 3em;
}
.content {
  padding: 0 0.938rem;
  margin: 0 auto;
  min-width: 37.5rem;
}
/**********************
  Navigation
***********************/
.navigation {
  background-color: #000;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #DDD;
  z-index: 9999;
  top: 0;
  padding-bottom: .6rem;
}
.navigation > .content{
  height: 1.375rem;
}
.navigation .links a{
  float: left;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  font-size: 1.04rem;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  text-decoration: none;
}
.navigation .links li {
  display: inline-block;
  margin-left: 1.563rem;
  height: 100%;
  font-weight: 500;
}
.navigation a {
  display: inline-block;
  height: 100%
}
.navigation .links .active {
  color: #4c5058;
  font-weight: 500;
}
.navigation .links a:hover{
  cursor: pointer;
  color: #D9DBD0;
}
ul {
  list-style: none;
  /*margin-left: 1em;*/
}
/**********************
  Introduction
***********************/
.intro {
  background-image: url(../images/brooktrout.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
  height: 31rem;
}
.intro h1,
.intro h3 {
  color: white;
  text-align: center;
  font-weight: 500;
}
.intro h1 {
  margin-top: 12.5rem;
  font-size: 3.125rem;
}
.intro h3 {
  margin-top: 1.125rem;
  font-size: 1.563rem;
}
.intro-section, .location-section, .questions-section {
  max-width: 38em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}
.questions-section a {
  text-decoration: none;
  color: #2B3026;
}
.footer {
  text-align: center;
  background-color: #000;
  width: 100%;
  height: 100%;
  color: #fff;
}
.footer .content {
  padding-bottom: .5rem;
}
.social .icons {
  padding-top: 1rem;
  padding-left: 0;
  margin-top: 0;
}
.social .icons > li {
  border-radius: 1.25rem;
  display: inline-block;
  margin: 1.25rem 5px;
  border: 1px solid #eaebec;
  padding: .025rem 0;
  text-align: center;
  background-color: #fff;
  list-style: none;
  width: 1.25rem;
  height: 1.25rem;
}
.social .icons > li:hover {
  cursor: pointer;
}
.social .twitter {
  color: #000;
}
.social .facebook {
  color: #000;
}
.social .instagram {
  color: #000;
}
.footer .copy {
  font-size: 0.9rem;
  font-weight: 300;
}
.projects .content{
  margin: 0 auto;
  text-align: center;
}
.blogintro {
  margin: 0 auto;
  text-align: center;
  max-width: 38em;
}